h1 {
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 10px;
}

form {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4%;
    margin: 10px;
    padding: 10px;
}

label {
    display: block;
    margin: 10px;
}

button {
    color: white;
    background-color: blue;
    font-size: larger;
    border-radius: 20%;
}

.centered {
    text-align: center;
}