{% extends "base.html" %}

{% block content %}
<form action="/insert" method="POST">
    <h2>Enter your query options:</h2>
    <p>INSERT INTO {{session['table']}}</p>
    {% for column in columns %}
        <label>{{column[0]}}: <input name="{{column[0]}}" type="{{column[1]}}"/></label>
    {% endfor %}
    <section class="centered">
        <button type="submit">Submit</button>
        <button type="reset" class="clear">Clear Form</button>
    </section>
</form>
<h2>Guide:</h2>
<ul>
    <li>Enter a value for each column you would like to fill.</li>
    <li>It is OK to leave a box blank.</li>
</ul>
<hr>
<h1>{{sql_query}}</h1>
{% endblock %}