{% extends "base.html" %}

{% block content %}
<section class="centered">
    <a href="/">Return to Main Menu</a><br>
</section>
<form action="/select" method="POST">
    <h2>Enter your query options:</h2>
    <p>SELECT
        {% for column in session['columns'] %}
            <label><input value="{{column[0].lower()}}" type="checkbox" name="columns"/> {{column[0]}}</label>
        {% endfor %}
        
        FROM {{session['table']}} <br>
        
        WHERE <input type="text" name="condition" placeholder="condition"/></p>
    <section class="centered">
        <button type="submit">Submit</button>
        <button type="reset" class="clear">Clear Form</button>
    </section>
</form>
<h2>Guide:</h2>
<ul>
    <li>SELECT options: Click the column names to retrieve that data from the '{{session['table']}}' table.</li>
    <li>WHERE box: (Optional) Add a condition to narrow the search results.</li>
</ul>
<hr>
{% if results %}
    <h2>{{sql_query}}</h2>
    {% if results != "error" %}
        <table>
            <tr>
                {% if session['checked_columns'] %}
                    {% for column in session['checked_columns'] %}
                        <th class="centered">{{column}}</th>
                    {% endfor %}
                {% else %}
                    {% for column in session['columns'] %}
                        <th class="centered">{{column[0]}}</th>
                    {% endfor %}
                {% endif %}
            </tr>
            {% for row in results %}
                <tr>
                    {% for entry in row %}
                        <td>{{entry}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h3 class="error">Sorry, there was a syntax error in your query.</h3>
    {% endif %}
{% endif %}
{% endblock %}