{% extends "base.html" %}

{% block content %}
<section class='centered'>
    <form action="/update" method="POST">
        <h2>The UPDATE query syntax:</h2>
        <p class="sample-syntax">
            UPDATE {{session['table']}} SET <em>column_name = new_value</em> WHERE <em>condition</em>
        </p>
        <ul>Column names for the <span class="table-col-names">{{session['table']}}</span> table:
            {% for column in session['columns'] %}
                <li class="table-col-names">{{column}}</li>
            {% endfor %}
        </ul>
        <hr class="dashed-divider">
        <h3>Enter your SQL query here:</h3>
        <p>UPDATE <span class="table-col-names">{{session['table']}}</span></p>
        <h4>Add a SET input here...</h4>
        <h4>Add a WHERE input here...</h4>
        <section class="centered">
            <button type="submit">Submit</button>
            <button type="reset" class="clear">Clear</button>
        </section>
    </form>
</section>
<hr>
<h2>{{sql_query}}</h2>
{% endblock %}